@charset "gb2312";
/* 共用css */
* { margin: 0; padding: 0 ;
    border:none}
body { font: 12px "Microsoft Yahei", Arial, Helvetica, sans-serif; }
ul { list-style: none; }
h2{ font-size: 100%; font-weight: normal; }
a { outline: none; color: #000 }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
h2{ font-size:28px; }
h2.cp{ text-align:center; margin:30px 0}



header { overflow: hidden;  width: 1000px; margin: 10px auto}

#logo { width: 260px; float: left }
nav { width: 650px; float: right; margin: 30px 0 0 0; text-align: right; }
nav a { position: relative; display: inline-block; font-size: 20px; width: 140px; text-align: center }
nav a:hover { text-decoration: none }
.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block; color: #999; font: 12px Georgia, serif; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }
#topnav_current { color: #000; }
.en { color: font-size: 12px; z-index: 1; display: block; }
#content{width:1000px; height:200px; padding:25px 0px; margin:0px auto}
.content_left,.content_right{width:400px; height:150px; float:left; margin:0px 50px}
.content_left{background:url(../images/1.jpg)}
.content_right{background:url(../images/2.jpg)}
.about ul { width: 900px; margin: auto; padding-top: 50px }
.text_a { -webkit-animation: animations 15s ease-in-out 1s infinite; -moz-animation: animations 15s ease-in-out 1s infinite; -o-animation: animations 15s ease-in-out 1s infinite; -ms-animation: animations 15s ease-in-out 1s infinite; animation: animations 15s ease-in-out 1s infinite; }
#content ul{display:none; text-align:center;margin:30px auto;}
#content ul img{ display:block; margin:auto; border:#CCC 1px solid; padding:10px; height:250px  }
.contact{
	margin: auto;
	width: 1000px;
	border-top: #ccc 1px solid;
	padding-top: 30px
}
 
.info{ background:url(file:///E|/www.erweima.com/yin.jpg) no-repeat left top; font-size:16px; margin-left:40px; float:left; margin-top:40px}
.info p{ width:320px; margin:0 0 0 80px; color:#666; line-height:1.9}
.txl{ float:right; font-size:16px; background:url(file:///E|/www.erweima.com/txl.jpg) left no-repeat}
.txl p{ margin:20px 0; padding-left:60px}

footer{ background:#000 ; height:50px;color:#FFF; line-height:50px; text-align:center}
